html {
  background-color: #659dbd;
}

.container-bg {
  background-color: #659dbd;
  height: 100%;
}

.container {
  background-color: #daad86;
}

h1 {
  text-align: center;
}

.col-md-4 p {
  font-family: "Rimouski", sans-serif;
}

.error {
  background-color: lightcoral;
}

.col-md-4 p:first-of-type {
  font-size: 2em;
}

.col-md-4 p:last-of-type {
  font-size: 5em;
}

label,
input {
  padding-left: 3em;
}
